body {
  margin: 0;
  padding: 0;
  background-color: #0f2540; /* azul escuro estilo IBM */
  font-family: 'Courier New', Courier, monospace;
  color: #dfefff; /* quase branco */
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container {
  width: 90%;
  max-width: 900px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

textarea#editor {
  flex: 1;
  background-color: #0f2540;
  color: #dfefff;
  font-size: 18px;
  border: none;
  resize: none;
  padding: 16px;
  outline: none;
  line-height: 1.6;
}

textarea::placeholder {
  color: #8faac7;
}

.config {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

.config label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #b0d4ff;
}

input {
  background-color: #001933;
  border: 1px solid #476fa6;
  color: #dfefff;
  padding: 4px 8px;
  font-family: 'Courier New', monospace;
}
